# ahc .gitignore defs

## https://linuxize.com/post/gitignore-ignoring-files-in-git/


00_locally/

*.pdf
*.ttf

.**
!.gitignore

**test**

# node modules
**node_modules**
**package**.json

#  swap files
*.sw*
